
<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>

<center>

  <h1>WELCOME TO MOVIE MANIA!!</h1>
  <h2>Hop into our library of movies</h2>

  <button type="button" style="width:100px; height:50px;"><a href="/movie_data">movie info</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/usercritic">critque!</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/contributor_info">contributor info</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/quick_lookup">quick look up</a></button>

</center>

</body>


</html>


