<html>



<body>
  <h1>Show me mula</h1>


	<form action="/movie_data"> <!-- {{ url_for('show_movie') }}"> -->
		<div align="center">
			<select name="movie_name">

				{% for movie in movies %}
					<option value = {{movie.name|string}}>{{movie.name|string}}</option>
            {% endfor %}

			</select>
         <button type="submit">Enter!</button>
		</div>
	</form>






   <table>
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Genre</th>
               </tr>
            </thead>
            
            <tbody>
               <!-- loop thru each movie row & pick specific attributes -->
               {% for movie in movies %}
                  <tr>
                     <td>{{ movie.name }}</td>
                     <td>{{ movie.genre }}</td>
 
                  </tr>
               {% endfor %}
            </tbody>
   </table>
   <button type="button"><a href="/usercritic">submit</a></button>



</body>


</html>





