
<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>

<center>

  <h1>WELCOME TO QUICK QS!!</h1>
  <h2>Search more specifics!</h2>

  <button type="button" style="width:100px; height:50px;"><a href="'/quick_distributor'">Distributors</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/quick_studio">Studios</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/quick_award">Awards</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/quick_contributor">Contributors</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/quick_movie_critics">Movie Critics</a></button>
  <button type="button" style="width:100px; height:50px;"><a href="/quick_user_critics">User Critics</a></button>
</center>

</body>


</html>
